# list

In [1]:
["rajesh","vinay","sumu","manik"]

['rajesh', 'vinay', 'sumu', 'manik']

In [2]:
a=["rajesh","vinay","sumu","manik"]
a[2]

'sumu'

In [4]:
print("hello "+ a[3] )

hello manik

In [8]:
b=[[1,2,3],["raj","sumu","vine"],[1.2,2.3,3.4]]
b[1]

['raj', 'sumu', 'vine']

In [9]:
b[1][0]

'raj'

# negative indexing

In [10]:
a=["rajesh","vinay","sumu","manik"]
a[-2]

'sumu'

In [11]:
b=[[1,2,3],["raj","sumu","vine"],[1.2,2.3,3.4]]
b[-1][1]

2.3

# slicing

In [12]:
a=["rajesh","vinay","sumu","manik"]
a[0:4:1]

['rajesh', 'vinay', 'sumu', 'manik']

In [13]:
b=[1,2,3,4,5,6,7,8,9,10]
b[0:10:2]

[1, 3, 5, 7, 9]

In [19]:
b[1:10:2]

[2, 4, 6, 8, 10]

In [25]:
r=[[1,2,3],["raj","sumu","vine"],[1.2,2.3,3.4]]
r[0:3:2]

[[1, 2, 3]]

In [28]:
b=[[1,2,3],["raj","sumu","vine"],[1.2,2.3,3.4],[11,22,33,44],[90,80,70]]
b[0:5:2]

[[1, 2, 3], [1.2, 2.3, 3.4], [90, 80, 70]]

In [29]:
len(b)

5

In [30]:
len(r)

3

In [33]:
a
[1]="manik"

In [69]:
a=[1,2,3,4,5]
b=[6,7,8,9,10]
a+b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [70]:
[2,4,6] + b

[2, 4, 6, 6, 7, 8, 9, 10]

In [71]:
a*3

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [37]:
del b[0]
b

[7, 8, 9, 10]

In [61]:
a=["rajesh","vinay","manik","sumu"]
for i in a:
    print(i,end =" ")

rajesh vinay manik sumu

In [72]:
a=["rajesh","vinay","manik","sumu"]
for i in range(len(a)):
    print(i)

0
1
2
3

In [73]:
a=20

In [74]:
a

20

In [75]:
str(a)

'20'

In [78]:
k=["cat","dog","rat","monkey"]
for i in range(len(k)):
    print("animal " + str(i+1) + " is " + k[i])

animal 1 is cat
animal 2 is dog
animal 3 is rat
animal 4 is monkey

In [83]:
a=5
b=6
print(a,b)

5 6

In [84]:
a,b=b,a

In [85]:
print(a,b)

6 5

index()
append()
remove()
insert( , )
sort()
sort(reverse=true)
pop()
count()

In [91]:
a=[1,2,3,4,5,6]
a.index(6)

5

In [92]:
a=[1,2,3,4,5,6]
a.append(7)

In [93]:
a

[1, 2, 3, 4, 5, 6, 7]

In [94]:
a.remove(4)
a

[1, 2, 3, 5, 6, 7]

In [101]:
k=[4,6,8,1,3,9]
k.sort()
k

[1, 3, 4, 6, 8, 9]

In [102]:
k.sort(reverse=True)
k

[9, 8, 6, 4, 3, 1]

In [103]:
k.pop()
k

[9, 8, 6, 4, 3]

In [105]:
k.insert(0,4)
k

[4, 1, 9, 8, 6, 4, 3]

In [107]:
k.count(4)

2

In [111]:
for i in "rajesh":
    print(i)

r
a
j
e
s
h

In [112]:
for i in [1,2,3]:
    print(i)

1
2
3

In [114]:
a="rajesh"
a[1:6]

'ajesh'

In [115]:
a[:]

'rajesh'

In [116]:
a[0:]

'rajesh'

In [117]:
a[::-1]

'hsejar'

In [118]:
a[:6]

'rajesh'